<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>

<body>
    <style>

    </style>
    <div class="d-flex flex-row justify-content-center">
        <div style="margin-top: 40vh; width: 300px;" class="d-flex flex-col ">
            <button id="loginButton" class="btn btn-primary btn-lg btn-block">Login</button>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/web3/dist/web3.min.js"></script>
    <script>
        document.getElementById('loginButton').addEventListener('click', async () => {
            const abi = await fetch("/sc/abi.json").then((res) => res.json());
            const address = await fetch("/sc/address.json").then((res) => res.json());
            const bytecode = await fetch("/sc/bytecode.txt").then((res) => res.text());

            localStorage.setItem("abi", JSON.stringify(abi))
            localStorage.setItem("address", JSON.stringify(address))
            localStorage.setItem("bytecode", bytecode)


            // Check if MetaMask is installed
            if (typeof window.ethereum !== 'undefined') {
                try {
                    // Request account access if needed
                    await ethereum.request({ method: 'eth_requestAccounts' });

                    // We use the MetaMask provider to create a new Web3 instance
                    const web3 = new Web3(window.ethereum);

                    // Get the user's Ethereum address
                    const accounts = await web3.eth.getAccounts();

                    const userAddress = accounts[0].toLowerCase();

                    localStorage.setItem("active-user", userAddress);
                    const contract = new web3.eth.Contract(abi, address.address);
                    try {

                        const user = await contract.methods.getUser(Array.isArray(userAddress) ? userAddress[0].toLowerCase() : userAddress.toLowerCase()).call();

                        localStorage.setItem("session", JSON.stringify(user, (key, value) => typeof value ==="bigint" ? value.toString() : value));
                        switch (user.roleName) {
                            case "PETANI":
                                return window.location.href = "/petani/dashboard"
                            case "PENGEPUL": 
                                return window.location.href = "/pengepul/dashboard"
                            case "PRODUSER": 
                                return window.location.href = "/produser/dashboard"
                            case "COFFEE-SHOP": 
                                return window.location.href = "/coffee-retail/dashboard"
                                
                        }
                    } catch (error) {
                        console.log(error)
                        alert("Gagal Login, Terjadi kesalahan. Hubungi admin dan pastikan akun anda telah terdaftar");
                    }


                    // Display the user's address
                    // document.getElementById('userAddress').innerText = `Logged in as: ${userAddress}`;
                } catch (error) {
                    console.error("User denied account access or there was an error: ", error);
                }
            } else {
                console.log('MetaMask is not installed. Please install it to use this app.');
            }
        });
    </script>
</body>

</html>