<div class="sidebar">
    <img src="/images/kopi-1.png" alt="Petani Photo">
    <div class="petani-info">
        <div id="name" class="name">Rina</div>
        <div id="wallet" class="wallet">0xd5176Ca34976a0840457570AfA44033D2bA4D722</div>
        <div id="role" class="role"><b>PETANI</b></div>
    </div>
    <ul>
        <li id="dashboard"><a href="/petani/dashboard"><span class="icon">🏠</span> Dashboard</a></li>
        <li>
            <a ><span class="icon">📤</span> Transaksi Keluar</a>
            <ul>
                <li id="tertunda"><a href="/petani/transaction?type=OUT&status=TERTUNDA">Tertunda</a></li>
                <li id="terkonfirmasi"><a href="/petani/transaction?type=OUT&status=TERKONFIRMASI">Terkonfirmasi</a></li>
            </ul>
        </li>
        <li><a href="/" id="logout"><span class="icon">🚪</span> Logout</a></li>
    </ul>
</div>

<script>
    const session = (localStorage.getItem("session")) ? JSON.parse(localStorage.getItem("session")) : {}
    console.log(session)
    const d = document
    d.getElementById("name").innerHTML = session.nama
    d.getElementById("wallet").innerHTML = session.walletAddress
    d.getElementById("role").innerHTML = session.roleName

    const urlParams = new URLSearchParams(window.location.search);
        const params = urlParams.get('type') || 'IN';
        const status = urlParams.get('status')

        if(status === "TERKONFIRMASI") {
            document.getElementById("terkonfirmasi").classList.add("active")
        }else if (status === "TERTUNDA") {
            document.getElementById("tertunda").classList.add("active")

        }else {
            document.getElementById("dashboard").classList.add("active")
        }
</script>